<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9c10c64970.js" crossorigin="anonymous"></script>
    <title>App</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="btn btn-outline-primary"><a class="nav-link" href="/movie"><i class="fa-solid fa-plus"></i>Add a movie</a></div>
            <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </nav>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Movie title</th>
                    <th scope="col">Year of release</th>
                    <th scope="col">Rating</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.year}}</td>
                    <td>{{this.rating}}</td>
                    <td>
                        <a href=""><i class="fa-regular fa-trash-can"></i></a>
                        <a href=""><i class="fa-regular fa-pen-to-square"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
